.video-container{
    border: black solid 1px;
    min-height: 300px;
}
.video{
    border: gray solid 1px;
    margin: 10px;
    height: 220px;
    border-radius: 5px;
    background-color: #cac3c3
}

.video p{
    position: absolute;
    top: 81%;
    right: 70%;
    color: white;
}

.video-container p{
    margin-left: 10px; 
    margin-bottom: 5px;
    font-weight: bold;
}

.video-container p:last-child{
    margin-top: 5px ;
}

.video-container img{
    width: -webkit-fill-available;
    max-width: 100%;
    height: -webkit-fill-available;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    padding: 20px;
    width: 45%;
}

/* The Close Button */
.close {
    width: 5%;
    margin: auto;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close button{
    width: 100%;
    margin: auto;
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    background-color: blue;
    border: none;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */

    .modal-content{
        width: 100%
    }

    .close{
        width: 15%;
    }
}

div.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
  }

  div.search{
    margin: 1% 0% 3% 4%;
  }
  
  /* Style the submit button */
  div.search button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  div.search button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  div.search::after {
    content: "";
    clear: both;
    display: table;
  }

